/***************
	Basics
***************/
* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

p {
	line-height: 24px;
}

h3 {
	font-size: 24px;
}

.flexbox {
	display: flex;
}

.container {
	max-width: 1024px;
	padding: 0 25px;
	margin: 0 auto;
}

a,
.caption {
	color: #666;
}

.line-through {
	position: relative;
	z-index: 0;
}

.line-through:before {
	border-bottom: 2px solid #ff69b4;
	content: "";
	position: absolute;
	height: 50%;
	width: 0%;
	z-index: -99;
	-webkit-transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
	-o-transitio: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.line-through--active:before,
.line-through:hover:before {
	width: 100%;
}

/***************
	Commons
***************/
p,
h3,
.logo {
	color: #333;
}

.hover__color--pink:hover,
.color--pink{
	color: #ff69b4;
}

p,
.main-nav {
	font-size: 14px;
}

.hero-img {
	height: 100%;
	width: 100%;
}

.mobile-nav,
.icon__arrow,
.nav__item {
	display: none;
}

.sec-nav__item {
	display: block;
}

/***************
   Main Content
***************/
.main-wrapper {
	margin: 0 auto;
	max-width: 1440px;
}

/***************
   	Header
***************/
.main-header {
	display: flex;
	margin-top: 50px;
	margin-bottom: 80px;
	justify-content: space-between;
}

.logo {
	font-size: 18px;
	font-weight: bold;
	/* margin-top: 10px; */
}

.main-nav {
	display: flex;
	align-items: center;
}

.nav__item {
	margin: 0 20px;
}

.nav__icon {
	height: 21px;
	margin-left: 50px;
	cursor: pointer;
	position: relative;
}

.icon__line {
	position: absolute;
	height: 3px;
	background: #333;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	right: 0;
}

.icon--top {
	width: 12px;
}

.icon--bottom {
	width: 18px;
	top: 15px;
}

.icon__arrow {
	position: absolute;
	width: 5px;
	height: 5px;
	border-right: 2px solid #333;
	border-top: 2px solid #333;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top: 7px;
	left: 0;
}

.icon--top {
	top: 3px;
}

.icon--mid,
.icon__line--animate__top {
	top: 9px;
}

.nav__icon,
.icon--mid,
.nav__icon:hover .icon__line,
.icon__line:hover,
.icon__line--animate__width {
	width: 23px;
}

.rotate {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.rotate-oppsite {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.content__slogan {
	display: flex;
	justify-content: flex-end;
}

/****
intro
***/
.content__intro {
	margin: 60px 0 150px;
	width: 700px;
	text-align: right;
}

.content__intro h2 {
	font-size: 36px;
	margin-bottom: 7px;
}

.content__intro .line-through:before {
	height: 75%;
}

/****
work
***/

.work__list {
	display: flex;
	flex-wrap: wrap;
}

.work__list img {
	width: 100%;
	display: block;
}

.work__showcase {
	position: relative;
	width: 50%;
	cursor: pointer;
}

.work__showcase:before {
	content: "";
	display: block;
	background: white;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.work__info {
	top: 0;
	left: 0;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.work__info h3 {
	margin-top: 22%;
}

.work__showcase:before,
.work__info {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}

.work__showcase,
.work__showcase:hover:before,
.work__showcase:hover .work__info{
	opacity: 1;
}

/***************
main sub content
***************/
.main-sub {
	display: flex;
	margin-top: 110px;
}

.main-sub p {
	margin-top: 20px;
}

.sub-sidebar {
	width: 30%;
	margin-right: 5%;
	text-align: right;
}

.sub-sidebar h2 {
	line-height: 35px;
}

.sub-content {
	width: 50%;
}

/****
contact
***/
.contact__list {
	margin-top: 30px;
}

.contact__item {
	display: inline-block;
	margin-right: 25px;
}

/***********
	Footer
************/
.main-footer {
	margin-top: 170px;
	margin-bottom: 50px;
	text-align: right;
	font-size: 12px;
	line-height: 20px;
}

.main-footer p,
.footer__link {
	font-size: 12px;
	line-height: 20px;
}

.footer__link{
	position: relative;
}

.myheart {
	display: inline-block;
	width: 10px;
	height: 9px;
}

.myheart:before,
.myheart:after {
	content: "";
	position: absolute;
	top: 3px;
	background: #ff69b4;
	width: 5px;
	height: 8px;
	border-radius: 10px 10px 0 0;
}

.myheart:before {
	left: -1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.myheart:after {
	left: -5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

/***********
	Responsive
************/

@media screen and (max-width: 768px) {
	.main-wrapper {
		padding: 0 25px;
	}

	.main-header,
	.content__slogan {
		padding: 0;
	}

	.main-header {
		flex-direction: column;
		text-align: center;
	}

	.work-page .main-header {
		height: 50px;
	}

	.main-nav {
		justify-content: center;
		margin-top: 20px;
	}

	.nav__item {
		display: block;
	}

	.nav__icon {
		display: none;
	}

	.content__intro,
	.sub-content,
	.sub-sidebar,
	.work__showcase {
		width: 100%;
	}

	.content__intro {
		text-align: left;
		margin-top: 0;
		margin-bottom: 50px;
	}

	.content__intro h2 {
		font-size: 28px;
	}

	.main-sub {
		flex-direction: column;
	}

	.sub-sidebar {
		text-align: left;
	}
}

@media screen and (max-width: 360px) {
	.work__info h3 {
		margin-top: 18%;
	}
}
